@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    display: inline-block;
    text-decoration: none;
    color:white;
    padding: 0px 15px;
    font-family: 'Noto Serif Khojki', serif;
}
h1,p
{
    color: white;
}
.logo img
{
    width: 50PX;
    height: 50PX;
}
header::before
{
    content: '';
    width: 100%;
    height: 100%;
    background: url(../images/header.jpg) center center/cover;
    position: absolute;
    z-index: -1;
    top:0;
    left: 0;
    opacity: 0.9;
}
header
{
    height: 100vh;
    width: 100wh;
   
    padding-top: 2rem;
    

}
.navbar
{
    display: flex; 
    border: solid 1px black;
    justify-content: space-around;  
    width: 95%;
    margin: 0px auto;
    align-items: center;
    padding: 10px 0px;
    background-color: black;
}
nav ul
{
    display: flex;
    list-style: none;
}
.navbtn
{
    background-color: #ff214f;
    padding: 5px 20px;
}
.navbtn:hover
{
    background-color:chartreuse;
    color: black;
}
.active
{
    color: #ff214f;
}
/*   **************************************************
         **************************************************
              Hero Section Start
        **************************************************
        *************************************************       */
main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 0;
    ;
}
.hero-para
{
    font-size: 2rem;
}
.hero-heading
{
    font-size: 5rem;
    font-family: 'Babylonica', cursive;
}
.hero-service-btn,.hero-contact-btn
{
    border: solid 1px white;;
    padding: 5px 20px;
    border-radius: 20%;

}
.hero-service-btn
{
    background-color: #ff214f;  
}
.hero-contact-btn:hover
{
    background-color: white;
    color:black;
}
/* **************************************
*********************************
      Header icon
***********************************
************************************   
 */
 .header-icons-container
 {
    display: flex;
    background-color:white;
    text-align: center;
    width: 95%;;
    margin-top: 5rem;
    margin-bottom: 5rem;
    box-shadow: 1px 1px 5px  5px black;

 }
 .header-icons-container .icon
 {
    /* text-align: center; */
    font-size: 3rem;
    color:#ff214f;
    margin: 2rem 0;
 }
 .header-icons-container >h2
 {
    text-align: center;
 }
 .header-icons-container > section
 {
    border-right: solid 1px black;
 }
 .ip
 {
    margin: 2rem 0 4rem;
    color:black;
 }
